$dark_background: rgb(37, 37, 37);
$dark_chart_background: rgb(25, 25, 25);
$dark_footer: #ccc;
$dark_panel_header: #bbb;
$dark_panel_text: #bbb;
$dark_text_on_light: #222;
$dark_tip: rgba(200,200,200, 0.8);
$dark_chart_text: #bbb;
$dark_datatable_text: #eee;

html,
body {
  background-color: if($theme==dark, $dark_background, null);
  height: 100%;
  color: if($theme==dark, $dark_chart_text, null);
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: if($theme==dark, $dark_footer, #f5f5f5);
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    /* border-right: 1px solid #eee; */
  }

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  padding-right: 40px;
  padding-left: 0;
}

.main .page-header {
  margin-top: 0;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container-fluid {
  padding: 60px 15px 0;
}

.container-fluid .credit {
  margin: 20px 0;
}

#footer > .container-fluid {
  z-index: 1001;
  padding-left: 145px;
  padding-right: 15px;
}

#global-lookback-range, #global-refresh-range {
  margin-top: 5px;
}

#goldstone-text {
  font-family: 'Homenaje', sans-serif;
  font-size: x-large;
}

code {
  font-size: 80%;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;
}

.row {
    margin-bottom: 20px;
}

/* Datatable font sizes */
.table-hover th {
    font-size: 10px;
}
.table-hover td {
    font-size: 10px;
}

.infoButton {
  width: 17em;
  margin-left: 1em;
}

#multi-rsrc-table_wrapper > .dataTables_scroll {
    min-height: 500px;
}

.node:not(.data-leaf){
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.data-leaf {
  cursor: context-menu;
}

.node text {
  font-size: 12px;
  stroke-width: 0;
}

.icon text {
  font-size: 12px;
  stroke-width: 0;
}

.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.axis {
  path, line {
    fill: none;
    stroke-width: 1.5px;
    stroke: if($theme==dark, $dark_chart_text, #000);
    shape-rendering: crispEdges;
  }
}

.axis text, .legend-items {
    fill: if($theme==dark, $dark_chart_text, null);
    font: 10px sans-serif;
}

text:not(.zoomable), .axis.label {
    font: 14px sans-serif;
    fill: if($theme==dark, $dark_chart_text, null);
}

#goldstone-node-panel, #goldstone-event-panel, g.x.axis, g.y.axis {
  text{
    font-size: 10px;
  }
}

.legend rect {
  opacity: 0.0;
}

/* nodeAvail viz css */

.invisible-axis path {
    fill: none;
    stroke: none;
}

.swim.axis.invisible-axis .tick line {
  fill: none;
  stroke: none;
}
